In [1]:
import time

In [2]:
import numpy as np

In [8]:
samples = np.random.rand(10000000)

In [10]:
timeElapse = 0
ss = 0

time_before = time.time()
for i in samples:
    ss += i*i
time_after = time.time()
timeElapse = time_after - time_before
print(ss, timeElapse)

3333361.9137554243 1.7158007621765137

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('q3xTest.csv')

In [45]:
df1

            f1         f2
0    25.478507  25.320997
1    14.133747  12.783938
2    10.000442   2.697109
3     4.373818   3.985959
4     3.887449  10.548641
..         ...        ...
995 -16.975842   1.802773
996  -7.015719   7.378319
997  -0.539608   1.023922
998 -18.957986   5.294190
999 -10.856225   5.635711

[1000 rows x 2 columns]

In [5]:
df2 = pd.read_csv('q3xTrain.csv')
df2

            f1         f2
0     5.277959   7.337077
1     3.220191   1.425023
2    14.034404   4.622037
3    24.374362   6.965873
4     6.585567  10.713930
..         ...        ...
995  -4.004374  -7.881469
996  -1.137172   8.344147
997 -10.560278  12.686060
998   0.903599  14.878221
999 -17.116952   1.275550

[1000 rows x 2 columns]

In [69]:
df3 = pd.read_csv('q3yTest.csv')
df3.iloc[499]

label    0.0
Name: 499, dtype: float64

In [8]:
df4 = pd.read_csv('q3yTrain.csv')
df4

     label
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
..     ...
995    1.0
996    1.0
997    1.0
998    1.0
999    1.0

[1000 rows x 1 columns]

In [65]:
f1 = list(df1['f1'])
f2 = df1[df1.columns[1]].values.tolist()

In [9]:
from math import sqrt

In [54]:
def euclidean_distance(row1, row2):
 distance = 0.0
 for i in range(len(row1)):
    distance += (row1[i] - row2[i])**2 
 return sqrt(distance)

In [115]:
def get_neighbors(test_row, k): # test row is the row being compared to data set
    distances = list() 
    for i in range(len(f1)): # for all rows in data set
        train_row =[f1[i], f2[i]]
        dist = euclidean_distance(test_row, train_row) # distance between test row and row[i] in data set
        distances.append((train_row, dist, i)) # creat tuple of row and distance from test row
    
    distances.sort(key=lambda tup: tup[1]) # sort based on distances 

    neighbors_index = list()
    for i in range(k): # add the number of neighbours you want based on k
        neighbors_index.append(distances[i][2])
            
    return neighbors_index # returns list of index values of closest neighbours

In [120]:
get_neighbors([f1[0], f2[0]], 3)

[0, 308, 75]

In [122]:
df1.values

array([[ 25.47850742,  25.32099681],
       [ 14.13374706,  12.78393755],
       [ 10.0004419 ,   2.69710947],
       ...,
       [ -0.53960812,   1.02392241],
       [-18.95798619,   5.29418996],
       [-10.85622514,   5.63571108]])

In [123]:
def get_neighbors(self, test_row, yHat, k): # test row is the row being compared to data set

        
        f1 = self.xTrain[self.xTrain.columns[0]].values.tolist()
        f2 = self.xTrain[self.xTrain.columns[1]].values.tolist()
        distances = list() 

    
        for i in range(len(f1)): # for all rows in data set
            train_row =[f1[i], f2[i]]
            dist = self.euclidean_distance(test_row, train_row) # distance between test row and row[i] in data set
            distances.append((train_row, dist, i)) # creat tuple of row and distance from test row
    
        distances.sort(key=lambda tup: tup[1]) # sort based on distances 

        neighbors_index = list()
        for i in range(k): # add the number of neighbours you want based on k
            neighbors_index.append(distances[i][2])
            
        yHat.append(neighbors_index)